* {
  box-sizing: border-box;
}

.welcome-page {
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Astronaut_working_on_Mars.jpg/1200px-Astronaut_working_on_Mars.jpg");
  background-size: cover;
  justify-content: space-around;
  align-items: center;
}
.tint {
  background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8));
  padding: 3px;
}
.welcome-header{
  font-size: 4rem;
  color: darkred;  
}

.welcome-button {
  color:white;
  background-color: black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  opacity: .6;
  border: none;
  outline: none;
}

.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(237,67,67,.7);
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(237,67,67,.7);
    box-shadow: 0 0 0 0 rgba(237,67,67,.7);
  }
  70% {
      -moz-box-shadow: 0 0 0 170px rgba(204,169,44, 0);
      box-shadow: 0 0 0 170px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}