* {
  box-sizing: border-box;
}
.notfound-page {
  color: white;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}